---
import { sanityGraphqlQuery } from '@/sanity';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Fragment from '@/components/Fragment.astro';
import ProjectList from '@/components/ProjectList.vue';

const query = `{
	allProject {
    _id
    title
    slug{current}
    excerpt
    repo
    preview
    categories {
      _id
      title
      color {
        hex
      }
      textColor {
        hex
      }
    }
    mainImage {
      asset {   
        url
      }
    }
  }
}`;

const response = await fetch(sanityGraphqlQuery(query));
const { data } = await response.json();
const projects = data.allProject;
---
<BaseLayout title="Portfolio">
	<Fragment slot="meta">			
		<link rel="stylesheet" href={Astro.resolve('../style/global.css')}>
		<link rel="stylesheet" href={Astro.resolve('../style/home.css')}>
	</Fragment>

	<main>
		<h1>Portfolio</h1>
			
		<ProjectList projects={projects} />
	</main>
</BaseLayout>
