---
import { sanityGraphqlQuery } from '@/sanity';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Fragment from '@/components/Fragment.astro';
import ProjectList from '@/components/ProjectList.vue';

const query = `{
	allProject {
    _id
    title
    slug{current}
    excerpt
    repo
    preview
    categories {
      _id
      title
      color {
        hex
      }
      textColor {
        hex
      }
    }
    mainImage {
      asset {   
        url
      }
    }
  }
}`;

const response = await fetch(sanityGraphqlQuery(query));
const { data } = await response.json();
const projects = data.allProject;
---
<BaseLayout title="Portfolio">
	<Fragment slot="meta">			
		<link rel="stylesheet" href={Astro.resolve('../style/global.css')}>
		<link rel="stylesheet" href={Astro.resolve('../style/home.css')}>
	</Fragment>

	<main>
    <div class="presentation">
      <h1>Guilherme Souza</h1>
      <p>Desenvolvedor frontend</p>
      <!-- <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg"
        width="50"
      /> -->
      <div style="display: inline-block; margin-top: 1rem"><br>
        <img align="center" alt="HTML" height="50" width="60" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
        <img align="center" alt="CSS" height="50" width="60" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
        <img align="center" alt="JavaScript" height="50" width="60" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg">
        <img align="center" alt="TypeScript" height="50" width="60" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-plain.svg">
        <img align="center" alt="VueJS" height="50" width="60" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/vuejs/vuejs-original.svg">
        <img align="center" alt="Nuxt" height="50" width="60" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nuxtjs/nuxtjs-original.svg">
        <img align="center" alt="NodeJS" height="50" width="60" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-plain.svg">
        <img align="center" alt="Sass" height="50" width="60" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg">
</div>
    </div>
		<ProjectList projects={projects} />
	</main>
</BaseLayout>


